$primary-color: #222222;
$secondary-color: #f9f807;
$show-home-image: true;
$home-image: url(../assets/images/Autumn_fireball.jpg);
$background-opacity: 0.6;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
      }
    }

  }
}

// Set Text color
@function set-text-color ($color) {
  @if (lightness($color) > 40) {
    @return black;
  } @else {
    @return white;
  }
}

// @Media query mixins

@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaExtraLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}