// Widescreens

@include mediaExtraLarge {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops

@include mediaLarge {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops

@include mediaMedium {
  main {
    align-items: center;
    text-align: center;
    padding: 2rem;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  .menu-nav {
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones

@include mediaSmall {
  h1.lg-heading {
    font-size: 4rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .boxes div {
    font-size: 1.5rem;
    padding: 1rem 1rem;

  }

}

// Small SmartPhones

@include mediaExtraSmall {
  h1.lg-heading {
    font-size: 3rem;
  }

  .boxes div {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;

  }
  main {
    padding: 2rem;
    padding-top: 50px;
  }
  .menu-btn{
    top: 20px;
    right: 20px;
  }
}
